* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Nunito', 'Work+Sans',sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-header);
    color: #fff;
    /* padding: 20px; */
}

a {
    color: #fff;
    text-decoration: none;
}

*:link, *:visited, *:active {
    color: #fff;
}

*::selection
{
    /* color: none; */
    color: aqua;
}

section, main {
    margin: 60px 0;
}
